* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.section-top {
  background: #fff;
  margin-bottom: 20px;
}
.page-title {
  font-size: 22px;
  margin-top: 20px;
  margin-bottom: 20px;
  line-height: 1;
  border-bottom: 1px solid #ebeef5;
  padding-bottom: 10px;
}
.front-top-info {
  svg {
    width: 2rem;
    height: 2rem;
    color: #666;
  }
  .item:nth-child(4n + 1) {
    svg {
      color: #34bfa3;
    }
  }
  .item:nth-child(4n + 2) {
    svg {
      color: #716aca;
    }
  }
  .item:nth-child(4n + 3) {
    svg {
      color: #36a3f7;
    }
  }
  .item:nth-child(4n) {
    svg {
      color: #f4516c;
    }
  }
}
.table-list {
  .ant-table-pagination.ant-pagination {
    margin-right: 20px;
  }
}
.address-top {
  padding-top: 20px;
  .title {
    font-size: 20px;
    margin-bottom: 20px;
    i {
      margin-right: 5px;
    }
    span {
      color: #999;
      font-size: 16px;
      line-height: 20px;
    }
  }
  .copied {
    background-color: #e8e8e8;
    &:hover {
      color: rgba(0, 0, 0, 0.65);
      border-color: #d9d9d9;
      background-color: #e8e8e8;
    }
  }
  .overview-list {
    overflow: hidden;
    margin-bottom: 20px;
    .item {
      width: 33.3%;
      float: left;
      text-align: center;
      i {
        font-size: 32px;
        color: #999;
      }
      &:nth-child(3n + 1) {
        i {
          color: #34bfa3;
        }
      }
      &:nth-child(3n + 2) {
        i {
          color: #716aca;
        }
      }
      &:nth-child(3n) {
        i {
          color: #36a3f7;
        }
      }
    }
    .name {
      color: #999;
    }
    .info {
      font-size: 20px;
    }
  }
}

.blur-image {
  filter: blur(9px);
  width: 100%;
}

.wallet {
  position: relative;
  border-radius: 4px;
  border: solid 1px #f0f0f0;
  min-height: 450px;
  word-break: break-word;
  overflow: hidden;
  margin-top: 40px;
  margin-left: 20px;
}

.wallet-title {
  margin: 0 0 16px 0;
  font-size: 24px;
  font-weight: bold;
}

.form-input {
  .ant-input,
  .ant-input-group-addon,
  .ant-select-selection {
    width: "100%";
    background: #f7f7f7;
  }
}
.new-wallet-text {
  height: auto;
  margin: 10% auto;
  width: 80%;
}

.wallet-margin {
  margin: 10% 8%;
}

.inline-item {
  display: inline-block;
}

.float-right {
  float: right;
}

#iotx-balance {
  padding-top: 24px;
  padding-bottom: 24px;
  text-align: center;
  font-size: 28px;
}
#iotx-balance b {
  padding-left: 5px;
  font-size: 16px;
}

.private-key {
  font-size: 24px;
  font-weight: bold;
  color: #e54937;
  background-color: rgb(253, 237, 235);
  padding-left: 10px;
  padding-right: 10px;
  margin-left: 10px;
  display: inline-block;
}

.centered-text {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;

  .single-table {
    thead {
      display: none;
    }
  }
}
.ant-modal-content {
  color: #000000 !important;
  line-height: 24px;
  .ant-modal-header {
    border-bottom: none !important;
    padding: 22px 24px !important;
    .ant-modal-title {
      line-height: 24px;
    }
  }
  .ant-modal-body {
    padding-bottom: 0 !important;
  }
  .ant-modal-footer {
    padding: 12px 0 !important;
    margin: 0 24px;
  }
  p {
    line-height: 24px !important;
    margin-bottom: 1.7em !important;
  }
  .dl-horizontal {
    font-size: 12px;
    dd {
      margin-bottom: 4px !important;
    }
  }
}

@mixin clearfix() {
  &:before,
  &:after {
    content: " "; // 1
    display: table; // 2
  }
  &:after {
    clear: both;
  }
}

.dl-horizontal {
  margin: 12px;
  dt {
    float: left;
    width: 88px;
    clear: left;
    text-align: left;
  }

  dd {
    @include clearfix; // Clear the floated `dt` if an empty `dd` is present
    margin-left: 116px;
    color: #3d3d3d;
  }

  @media only screen and (max-width: 768px) {
    dl.dl-horizontal dd {
      margin-left: 0;
    }
  }
}

.full-width-spin-preloader {
  width: 100%;
}

.ant-card {
  &:hover {
    -webkit-box-shadow: 0 2px 8px 0 rgba(21, 26, 33, 0.43) !important;
    -moz-box-shadow: 0 2px 8px 0 rgba(21, 26, 33, 0.43) !important;
    box-shadow: 0 2px 8px 0 rgba(21, 26, 33, 0.43) !important;
  }
}

.keystore-tag {
  background-color: unset !important;
  border: none !important;
  font-size: 14px !important;
  white-space: pre-wrap !important;
}

.keystore-tag i:last-child {
  color: #e54937;
  font-size: 14px !important;
  padding-left: 14px;
}

input {
  font: unset !important;
  font-family: "Heebo", sans-serif, Microsoft YaHei !important;
}

/* disable default menu hover */
.ant-dropdown-menu-item:hover {
  background-color: transparent !important;
}

.ant-spin-blur {
  overflow: unset !important;
}

.no-scrollbar {
  overflow: hidden;
  overflow-y: auto;
}

.no-scrollbar::-webkit-scrollbar,
.no-scrollbar::scrollbar {
  display: none;
  width: 0;
  height: 0;
}

.ant-modal-body {
  padding-top: 0 !important;
}

.wallet-token-balance {
  text-align: right;
}

.wallet-delete-token {
  width: 20px;
}
