* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
.main-container {
  margin-bottom: 20px;
}
.section-top {
  background: #fff;
  margin-bottom: 20px;
}
.page-title {
  font-size: 22px;
  margin-top: 20px;
  margin-bottom: 20px;
  line-height: 1;
  border-bottom: 1px solid #ebeef5;
  padding-bottom: 10px;
}
.front-top-info {
  svg {
    width: 2rem;
    height: 2rem;
    color: #666;
  }
  .item:nth-child(4n + 1) {
    svg {
      color: #34bfa3;
    }
  }
  .item:nth-child(4n + 2) {
    svg {
      color: #716aca;
    }
  }
  .item:nth-child(4n + 3) {
    svg {
      color: #36a3f7;
    }
  }
  .item:nth-child(4n) {
    svg {
      color: #f4516c;
    }
  }
}
.table-list {
  .ant-table-pagination.ant-pagination {
    margin-right: 20px;
  }
}
.address-top {
  padding-top: 20px;
  .title {
    font-size: 20px;
    margin-bottom: 20px;
    i {
      margin-right: 5px;
    }
    span {
      color: #999;
      font-size: 16px;
      line-height: 20px;
    }
  }
  .copied {
    background-color: #e8e8e8;
    &:hover {
      color: rgba(0, 0, 0, 0.65);
      border-color: #d9d9d9;
      background-color: #e8e8e8;
    }
  }
  .overview-list {
    overflow: hidden;
    margin-bottom: 20px;
    .item {
      width: 33.3%;
      float: left;
      text-align: center;
      i {
        font-size: 32px;
        color: #999;
      }
      &:nth-child(3n + 1) {
        i {
          color: #34bfa3;
        }
      }
      &:nth-child(3n + 2) {
        i {
          color: #716aca;
        }
      }
      &:nth-child(3n) {
        i {
          color: #36a3f7;
        }
      }
    }
    .name {
      color: #999;
    }
    .info {
      font-size: 20px;
    }
  }
}

.blur-image {
  filter: blur(9px);
}

.wallet {
  position: relative;
  border-radius: 4px;
  border: solid 1px #f0f0f0;
  max-width: 288px;
  height: 492px;
  word-break: break-word;
  margin-top: 40px;
}

.wallet-title {
  margin: 0 0 16px 0;
  font-size: 24px;
  font-weight: bold;
}

.form-input {
  .ant-input,
  .ant-input-group-addon {
    width: "100%";
    background: #f7f7f7;
    border: none !important;
  }
}
.new-wallet-text {
  height: auto;
  margin: 10% auto;
  width: 80%;
}

.wallet-margin {
  margin: 10% 8%;
}

.inline-item {
  display: inline-block;
}

.float-right {
  float: right;
}

#iotx-balance {
  padding-top: 24px;
  padding-bottom: 24px;
  text-align: center;
  font-size: 28px;
}
#iotx-balance b {
  padding-left: 5px;
  font-size: 16px;
}

.private-key {
  font-size: 24px;
  font-weight: bold;
  color: #e54937;
  background-color: rgb(253, 237, 235);
  padding-left: 10px;
  padding-right: 10px;
  margin-left: 10px;
  display: inline-block;
}

.centered-text {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;

  .single-table {
    thead {
      display: none;
    }
  }
}
.ant-modal-content {
  color: #000000 !important;
  line-height: 24px;
  border-radius: 2px !important;
  .ant-modal-header {
    border-bottom: none !important;
    padding: 22px 24px !important;
    .ant-modal-title {
      line-height: 24px;
    }
  }
  p {
    line-height: 24px !important;
    margin-bottom: 1.7em !important;
  }
}
