{
  "presets": [
    "es2017",
    "es2015"
  ],
  "plugins": [
    [
      "inferno",
      {
        "imports": true,
        "pragma": ""
      }
    ],
    "transform-flow-strip-types",
    "transform-object-rest-spread",
    "transform-class-properties"
  ]
}
