version: 2

jobs:
  build:
    docker:
      - image: "circleci/node:10.18.0-browsers"
    steps:
      - checkout
      # Download and cache dependencies
      - restore_cache:
          keys:
            - v5-dependencies-{{ checksum "package.json" }}
            # fallback to using the latest cache if no exact match is found
            - v4-dependencies-
      - run: npm install
      - save_cache:
          paths:
            - node_modules
          key: v5-dependencies-{{ checksum "package.json" }}
      - run: npm test
      - store_artifacts:
          path: coverage
          prefix: coverage
